<style>
.message_board {
    width:900px;
    margin:10px auto;
    background:#B6B4B4;
    min-height: 30px;
    height:auto;
    padding:5px;
    -moz-box-shadow:    1px 1px 5px #ccc;
    -webkit-box-shadow: 1px 1px 5px #ccc;
    box-shadow:         1px 1px 5px #ccc;
}

.profile_container {
    width:300px;
    min-height:300px;
    height:auto;
   
    float:left;
}

.profile_container ul li {
    list-style: none;

}

.flag_feed {

    width:690px;
    min-height: 300px;
    height:auto;
    float:left;
}

.img_content_container {
    text-align: center;
    width:190px;
    background:gray;
    margin:auto;
    color:#fff;
    padding:5px;
}

.img_feed_container {
position:absolute;
float:left;
width: 188px;

padding: 15px 20px 13px 9px;
font-size: 11px;
background-color: white;
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
margin:5px;
list-style: none;

}

.first {
    margin-left:5px;
}

.second {
    margin-left: 250px;

}

.third {
   margin-left:500px;
}

.image_content {
    color:#D4DFF1;
}


</style>


<script>
$(document).ready(function() { 
    setTimeout(1000)  
    $(".flag_feed ul li:nth-child(3n+1)").addClass('first');
    $(".flag_feed ul li:nth-child(3n+2)").addClass('second');
    $(".flag_feed ul li:nth-child(3n+3)").addClass('third')
    setTimeout(function() {
        var image = []
        for(var i = 1; i <= 11; i++) { 
            x = i+3;
            image[i] = $(".img_feed_container[data-counter = '"+i+"']").height()
            if ( i > 0 && i < 4) {
                $(".img_feed_container[data-counter = '"+x+"']").css("margin-top",image[i]+50+"px")
            } else if ( i > 3 && i < 7) {
                $(".img_feed_container[data-counter = '"+x+"']").css("margin-top",image[i]+image[i-3]+95+"px")
            }
            // $(".message_board").append("<li>image"+x+" is "+image[i]+"px</li>")
        }
    }, 100) 

     $(".img_feed_container").hover(function() {
        $(this).css("z-index", "100")
        $(this).find(".img_content_container").show()
     }, function() {
        $(this).css("z-index", "0")
        $(this).find(".img_content_container").hide()
     })
})

</script>
<% if current_user %>
<div class="message_board"></div>

<div class="profile_container">
    <ul>
        <%= content_tag :li, (image_tag "rails.png", size: "180x180") %>
        <li>
            <%= content_tag :li, "Email: #{current_user.email} " %>
            <%= content_tag :li, "Name:" %>
            <%= content_tag :li, "Country:" %>
            <%= content_tag :li, "School:" %>
            <%= content_tag :li, "State:" %>
        </li>


    </ul>    
</div>
<div class="flag_feed">
    <% @random_images = Image.all %>
    <% n = 0 %>
    <ul>
    <% @random_images.each do |image| %>
        <li class="img_feed_container" data-counter = "<%= n+=1 %>" >
            <%= image_tag image.image_url(:profile), width: "200px" %>
            <div class="img_content_container hide">
                <%= content_tag :div, image.title %>

                <%= content_tag :div, image.content, class: "image_content" %>
                <%= link_to content_tag(:div, "Image taken by #{image.user.email} on #{image.date_taken.strftime("%B %d, %Y")}"), profile_path(image.user.email) %>
            </div>
        </li>
    <% end %>
    </ul>   
</div>

<% end %>


