<%= render ('shared/scrap_header') %>

<% def is_numeric?(s) %>
	 <% !!Float(s) rescue false %>
<% end %>

<!-- Day Container holding images and journal entries -->
<ul>

<% @weeks.each do |d| %>
	<%= render ('shared/week'), d: d %>
<% end %>

</ul>

<br />
	

<!-- Current month with weeks on bottom, show when page is loaded -->
<div class="month-of-year current_month" id="<%= start_month(0).strftime('%b') %>">
    <h2 id="month">
        <a class="prev prev-next" title="<%= start_month(1) %>"><</a>        
    </h2>

    <ul class="dom_container">
    <% (0..4).each do |d| %>
    	<% if @user.images.find(:all, :conditions => {:date_taken => start_week(0)[d]..end_week(0)[d], week: true}).any? %>
    	 	<a href="#"><li class="weeks_of_month clickable_dates content_exists" data-start-week="<%= start_week(0)[d] %>" data-end-week="<%= end_week(0)[d] %>" data-exists="yes" >Week <%= d+1 %></li></a>
    	<% else %>
         	<a href="#"><li class="weeks_of_month clickable_dates" data-start-week="<%= start_week(0)[d] %>" data-end-week="<%= end_week(0)[d] %>" data-exists="no" >Week <%= d+1 %></li></a>
        <% end %>
    <% end %>
    </ul>
</div>

<!-- scrolling through month array --> 
<% (1..12).each do |m| %>
<div class="month-of-year" id="<%= start_week(m)[0] %>">
	<h2 id="month">
        <a class="prev prev-next" title="<%= start_month(m+1) %>"><</a>
        <a class="next prev-next" title="<%= start_month(m-1) %>">></a>   
    </h2>
	
	<ul class="dom_container">
	<% (0..4).each do |w| %>
    	<% if @user.images.find(:all, :conditions => {:date_taken => start_week(m)[w]..end_week(m)[w], week: true}).any? %>
    	 	<a href="#"><li class="weeks_of_month clickable_dates content_exists" data-exists="yes" >Week <%= w+1 %></li></a>
    	<% else %>
         	<a href="#"><li class="weeks_of_month clickable_dates"  data-exists="no" >Week <%= w+1 %></li></a>
        <% end %>
    <% end %>
	</ul>
</div>
<% end %>
