<%= render 'shared/close' %>

<%= form_for @message do |f| %>
	<%= render 'shared/errors', object: @message %>
	<div class="field">
		<%= f.label :from_first_name %>
		<%= f.text_field :from_first_name %>
	</div>
	<div class="field">
		<%= f.label :from_last_name %>
		<%= f.text_field :from_last_name %>
	</div>
	<div class="field">
		<%= f.label :from_email %>
		<%= f.text_field :from_email %>
	</div>
	<div class="field">
		<%= f.label :from_phone_number %>
		<%= f.text_field :from_phone_number %>
	</div>

	<%= hidden_field_tag :user_id, @message.user.id %>
	<%= content_tag :div, "send to: #{@user.fullname}" %>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>

	<!--   
	create the form for user
		From div
		to div
		message div
		submit div
			to mailer#coorinator_send
				UserMailer.coordinator_message.deliver

	send mailer

	user has_many :messages
	messages belongs_to :user

	messages :from_id, :to_id :message

	-- message model

	attr_accessible :content
	attr_accessible :from_first_name, :from_last_name, :from_email, :send_to
	attr_accessor :from_first_name, :from_last_name, :from_email, :send_to

	before_save :create_user

	def create_user
		User.create(copy from another model)
		send_email
	end



-->