<%= render 'shared/close' %>

<%= form_for @message do |f| %>
	<%= render 'shared/errors', object: @message %>
	<div class="field">
		<%= f.label :from_first_name, "First Name" %>
		<%= f.text_field :from_first_name %>
	</div>
	<div class="field">
		<%= f.label :from_last_name, "Last Name" %>
		<%= f.text_field :from_last_name %>
	</div>
	<div class="field">
		<%= f.label :from_email, "Email" %>
		<%= f.text_field :from_email %>
	</div>
	<div class="field">
		<%= f.label :from_phone_number, "Phone Number" %>
		<%= f.text_field :from_phone_number %>
	</div>

	<%= hidden_field_tag :user_id, @message.user.id %>
	<div class="field full_field">
		<%= f.label :content %>
		<%= f.text_area :content, :cols => 90, :rows => 5 %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>