
<h1>Announcements</h1>
<div class="column_title pages">
	<%= content_tag :p, link_to("+ New", new_announcement_path), class: "new_instance_button" %>
	<ul>
		<li class="title">Title</li>
		<li>Status</li>
		<li class="in announce_in">To Web</li>
		<li class="out">Off Web</li>
	</ul>
	
</div>

<ul class="model_table">
	<% @announcements.each do |announcement| %>
		<li>
			<ul class="instance_detail">
				<%= content_tag :li, announcement.title, class: "title"  %>
				
				<ul class="crud_buttons">
					<%= content_tag :li, link_to("edit", edit_announcement_path(announcement)), class:"edit" %>
					<%= content_tag :li, link_to("view", announcement_path(announcement)), class:"view"  %>
					<%= content_tag :li, link_to("delete", announcement_path(announcement), :confirm => "are you sure?", :method => :delete ), class:"delete"  %>
					
				</ul>
				<%= content_tag :li, announcement.starts_at, class: "date" %>
				<%= content_tag :li, announcement.ends_at, class: "date" %>
				<%= content_tag :li, announcement.message, class: "message"  %>
				
			</ul>
			<br class="clear"/>
		</li>
	<% end %>
</ul>