<h2>Announcements</h2>
<%= content_tag :p, link_to("+ New", new_announcement_path), class: "new_instance_button" %>
<ul class="model_table">
	<% @announcements.each do |announcement| %>
		<li>
			<ul class="instance_detail">
				<%= content_tag :li, announcement.title, class: "title"  %>
				
				<ul class="crud_buttons">
					<%= content_tag :li, link_to("edit", edit_announcement_path(announcement)) %>
					<%= content_tag :li, link_to("view", announcement_path(announcement)) %>
					<%= content_tag :li, link_to("delete", announcement_path(announcement), :confirm => "are you sure?", :method => :delete ) %>
					
				</ul>
				<%= content_tag :li, announcement.message, class: "message"  %>
				Publish to site:<%= content_tag :li, announcement.starts_at, class: "date" %>
				Pull from site:<%= content_tag :li, announcement.ends_at, class: "date" %>
				
			</ul>
			<br class="clear"/>
		</li>
	<% end %>
</ul>