<%= form_for [@user, @scrapbook] do |f| %>
  <% if @scrapbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrapbook.errors.count, "error") %> prohibited this scrapbook from being saved:</h2>

      <ul>
      <% @scrapbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
