<li class="drag_msg cp" data-id="<%= image.id %>" data-range= "<%= page %>" data-root= "<%= root_path %>">Pos</li>
<li class="resize_msg cp" data-id="<%= image.id %>" data-range="<%= page %>" data-root= "<%= root_path %>">Res</li>
<li class="crop_msg cp" data-crumb=" <%= @bread_crumb %> " data-id="<%= image.id %>" data-range="<%= page %>" data-root= "<%= root_path %>">Crop</li>
<%= link_to "Edit", [:edit, @user, image], class: "edit_msg cp", :"data-root" => root_path, remote: true %>
<%= link_to "Delete", [@user, image ], :confirm => 'Are you sure?', :method => :delete, class: "image_X cp" %>
<li class="message"></li><br />