<!-- <li class="drag_msg cp" data-id="<%= image.id %>" data-range= "<%= page %>" data-root= "<%= root_path %>">Pos</li> -->
<li class="resize_msg cp" data-id="<%= image.id %>" data-range="<%= page %>" data-root= "<%= root_path %>" data-purpose="Resize your image">R</li>
<%= content_tag :li, "B", class: "z_index cp change_z_#{image.id}", :"data-root" => root_path, :"data-id" => image.id, :"data-purpose" => "Push image back", :"data-z" => @z_index, :"data-range" => page %>
<%= content_tag :li, "F", class: "z_index cp change_z_#{image.id}", :"data-root" => root_path, :"data-id" => image.id, :"data-purpose" => "Bring image forward", :"data-z" => @z_index, :"data-range" => page %>
<!-- <li class="crop_msg cp" data-crumb=" <%= @bread_crumb %> " data-id="<%= image.id %>" data-range="<%= page %>" data-root= "<%= root_path %>">Crop</li> -->
<li><%= link_to "E", [:edit, @user, image], class: "edit_msg cp", :"data-root" => root_path, :"data-id" => image.id, :"data-purpose" => "Edit your image", remote: true %></li>
<li><%= link_to "D", [@user, image], id: "delete_image_#{image.id}", :confirm => 'Are you sure?', :method => :delete, :"data-purpose" => "Delete your image",class: "image_X cp", remote: true %></li>



<li class="message cp"></li>
<div class="helper_box"></div>