<div class="notice"></div>
<%= render('javascript/image') %>

<!-- Go To Page link button with a bread crumb -->
<% image_num = 0 %>
<div id="scrapbook_template">
	<%= render('scrapbooks/shared/template') %>
</div>

<%= render('scrapbooks/shared/up_down_prev_next_links') %>
<%= render('journals/journal_script')  %>

<!-- Nav_menu toggling through form submission changing nav_menu boolean -->
<div class="nav_btns delete_nav_btn nav_btn_style" data-root="<%= root_path %>" > - - - </div>
<div class="nav_btns gray_nav_btn nav_btn_style" data-root="<%= root_path %>" > - - - </div>

<!-- end nav_menu toggling -->
	<div class="time_navigation">		
		<%= render('menus/thumbnails') %>
		<%= render('menus/by_day') %>
		<%= render('menus/by_week', :beg_month => @first_of_month ) %>
		<%= render('menus/by_month', :beg_range => @first_of_month ) %>
	</div>



