<li class="cp" data-purpose="<%= Arrays::CP_MESSAGE['day_present'] %>"><span class="included">D</span></li>
<% if image.week == false || image.week == nil %> 
	<% if (@user.images.where(date_taken: @beg_week..@end_week, week: true).count < 5) %>
		<%= link_to content_tag(:li, content_tag(:span, "W", class: "not_included"), :"data-purpose" => Arrays::CP_MESSAGE['week_false'], class: "cp"), go_to_range(@user, 1)+duration_params(image.date_taken, @user, "week"), remote: true %>

		<%= form_for [@user, image], html: {id: "add_image_#{image.id}" }, remote: true do |f| %>
		  <%= f.check_box :week, :"data-purpose" => Arrays::CP_MESSAGE['week_add'], class: "cp" %>
		  
		<% end %>
	<% else %>
		<%= link_to content_tag(:li, content_tag(:span, "W", class: "full"), class: "cp", :"data-purpose" => Arrays::CP_MESSAGE['week_full']), go_to_range(@user, 1)+duration_params(image.date_taken, @user, "week"), remote: true %>
	<% end %>
	
<% elsif image.week == true %>
	<%= link_to content_tag(:li, content_tag(:span, "W", class: "included"), class: "cp", :"data-purpose" => Arrays::CP_MESSAGE['week_true']), go_to_range(@user, 1)+duration_params(image.date_taken, @user, "week"), remote: true %>
<% end %>


<!-- month links -->
<%= render('scrapbooks/shared/links/check_if_in_month', image: image) %>
<%= render('scrapbooks/shared/links/check_if_in_year', image: image) %>

