<% @user_images.each do |image| %> 
<!-- render out each image -->
	<!-- calculates which image belongs to -->
	<% page_variables(image) %>

	<!-- end calculate-->
	<div class="hide" id="edit_container"></div>
	<div class="image_container thumbnail" style="width:<%= @con_width %>px;height:<%= @con_height %>px;left:<%= @left %>px;top:<%= @top %>px;position:absolute;" data-id="<%= image.id %>" data-range= "<%= page %>" data-root= "<%= root_path %>">
		<ul class="control_panel">
			<%= render("scrapbooks/shared/control_panel", image: image )  %>
			<li class="gallery_msg cp">
                <!-- if image has been taken off of week or has never been added-->				
				<% if image.week == false || image.week == nil %>
					<% if (@user.images.where(date_taken: @beg_week..@end_week, week: true).count < 5) %>
						<%= form_for [@user, image], html: {id: "add_image_#{image.id}" }, remote: true do |f| %>
						  <%= f.check_box :week %>
						  Add to your week
						<% end %>
					<% else %>
						<%= link_to content_tag(:div, "Your week is full"), go_to_up_link(@user)+up_link_params, remote: true %>
					<% end %>
					
				<% elsif image.week == true %>
					<%= link_to content_tag(:div, "Part of weekly Gallery"), go_to_up_link(@user)+up_link_params, remote: true %>
				<% end %>
			</li>
		</ul>
	   	<%= render("scrapbooks/shared/the_image", image: image ) %>	
	</div>
	 <p id="large"></p>
<% end %>