<% @user_images.each do |image| %> 
<!-- determine day -->
    <!-- dimensions and positioning for each image -->
    <% page_variables(image) %>
        <div class="image_container thumbnail" style="width:<%= @con_width %>px;height:<%= @con_height %>px;left:<%= @left %>px;top:<%= @top %>px;position:absolute;" data-id="<%= image.id %>" data-range="<%= page %>" data-root="<%= root_path %>">
            <ul class="control_panel">
                <%= render("scrapbooks/shared/control_panel", image: image )  %>
                <li class="gallery_msg">             
                    <% if image.year == false || image.year == nil %>
                        <% if (@user.images.where(date_taken: @beg_year..@end_year, year: true).count < 5) %>
                            <%= form_for [@user, image], html: {id: "add_image_#{image.id}" }, remote: true do |f| %>
                              <%= f.check_box :year %>
                              Add to your year
                            <% end %> 
                        <% else %>
                            <%= link_to content_tag(:div, "Your year is full"), go_to_up_link(@user)+up_link_params, remote: true %>
                        <% end %>
                        
                    <% elsif image.year == true %>
                        <%= link_to content_tag(:div, "Part of yearly Gallery"), go_to_up_link(@user)+up_link_params, remote: true %>
                    <% end %>
                    <%= form_for [@user, image], html: {id: "remove_image_#{image.id}" }, remote: true do |f| %>
                        <%= f.check_box :month %>
                        Remove from month
                    <% end %>
                </li>                         
            </ul>
            <%= render("scrapbooks/shared/the_image", image: image ) %>
        </div>
  
<% end %>