<% @user_images.each do |image| %> 
<!-- render out each image -->
	<!-- calculates which image belongs to -->
	<% page_variables(image) %>



	<div class="hide" id="edit_container"></div>
	<div class="image_container thumbnail" style="width:<%= @con_width %>px;height:<%= @con_height %>px;left:<%= @left %>px;top:<%= @top %>px;position:absolute;" data-id="<%= image.id %>" data-range="<%= page %>" data-root="<%= root_path %>"  >
		
		<ul class="control_panel" style="width:<%= @con_width %>px;">
			<!-- resize, edit, delete, week, month, year -->
			<%= render("scrapbooks/shared/control_panel", image: image )  %>
			
                <!-- add or remove image from given range-->		
				<%= render("scrapbooks/shared/"+page+"_options", image: image ) %>
			
		</ul>
		<%= render("scrapbooks/shared/image_description", image: image ) %>
	   	<%= render("scrapbooks/shared/the_image", image: image ) %>	
	</div>
	 <p id="large"></p>
<% end %>