<!-- Determines the next time period. ie. if on day page, then will create: "Go to Week" link in menu -->  
 
<ul class="triangle"> 
	<li><%= link_to "", go_to_range(@user, 3) + up_link_params(@user, "year"), class: "#{correct_level('year')} pyramid", remote: true %></li>
	
	<li><%= link_to "", go_to_range(@user, 2) + up_link_params(@user, "month"), class: "#{correct_level('month')} pyramid", remote: true %></li>
	<li><%= link_to "", go_to_range(@user, 1) + up_link_params(@user, "week"), class: "#{correct_level('week')} pyramid", remote: true %></li>
	<li><%= link_to "", go_to_range(@user, 0) + up_link_params(@user, "day"), class: "#{correct_level('day')} pyramid", remote: true %></li>
	
</ul>


<div class="nav_arrows"> 
	
    <%= link_to content_tag(:div, content_tag(:div, prev_next_link_text("prev", @user), class: "nav_text"), class: "prev prev-next direction absolute_withZ"), go_to_date_link(@user)+prev_link_params(@user), remote: true %>

    <%= link_to content_tag(:div, content_tag(:div, prev_next_link_text("next", @user), class: "nav_text"), class: "next prev-next direction absolute_withZ"), go_to_date_link(@user)+next_link_params(@user), remote: true %>
</div>
<%=  %>