<!-- remove from week gallery -->
<%= render('scrapbooks/shared/links/go_down_to_day', image: image) %>
<li class="cp" data-purpose="week gallery"><span class="included">W</span></li>
<%= form_for [@user, image], html: {id: "remove_image_#{image.id}" }, remote: true do |f| %>
  <%= f.check_box :week %>  
<% end %>

<!-- month gallery options -->
<% if image.month == false || image.month == nil %>
    <% if (@user.images.where(date_taken: @first_of_month..@last_of_month, month: true).count < 5) %>

        <li class="cp" data-purpose="not part of month gallery"><span class="not_included">M</span></li>
        <%= form_for [@user, image], html: {id: "add_image_#{image.id}" }, remote: true do |f| %>
          <%= f.check_box :month %>
        <% end %>

    <% else %>
        <%= link_to content_tag(:li, content_tag(:span, "M", class: "full"), :"data-purpose" => "month gallery is full", class: "cp"), go_to_up_link(@user)+up_link_params(@user), remote: true %>
    <% end %>
      
<% elsif image.month == true %>
    <%= link_to content_tag(:li, content_tag(:span, "M", class: "included"), :"data-purpose" => "this image is part of your month gallery", class: "cp"), go_to_up_link(@user)+up_link_params(@user), remote: true %>
<% end %>

<!-- year gallery options -->
<%= render('scrapbooks/shared/links/go_up_to_year', image: image) %>
