<% @user_images.each do |image| %> 
<!-- determine day -->
    <!-- calculates which which image belongs to -->
    <%= page_variables(image) %>
    
    <div class="image_container thumbnail" style="width:<%= @con_width %>px;height:<%= @con_height %>px;left:<%= @left %>px;top:<%= @top %>px;position:absolute;">
        <ul class="control_panel">
            <%= render("scrapbooks/shared/control_panel", image: image )  %>
            <li class="gallery_msg cp">
                <!-- if image has been taken off of month or has never been added-->
                <% if image.month == false || image.month == nil %>
                    <% if (@user.images.where(date_taken: @first_of_month..@last_of_month, month: true).count < 5) %>
                        <%= form_for [@user, image], html: {id: "add_image_#{image.id}" }, remote: true do |f| %>
                          <%= f.check_box :month %>
                          Add to your month
                        <% end %>
                    <% else %>
                        <%= link_to content_tag(:div, "Your month is full"), go_to_up_link(@user)+up_link_params, remote: true %>
                    <% end %>
                    <%= form_for [@user, image], html: {id: "remove_image_#{image.id}" }, remote: true do |f| %>
                        <%= f.check_box :week %>
                         Remove from week
                    <% end %>  

                <% elsif image.month == true %>
                    <%= link_to content_tag(:div, "Part of monthly Gallery"), go_to_up_link(@user)+up_link_params, remote: true %>
                <% end %>
            </li>  
        </ul>
        <%= render("scrapbooks/shared/the_image", image: image ) %>
    </div>
    <p id="large"></p>
<% end %>