<script>
    
var updateCountdown;

jQuery(function() {
  updateCountdown();
  $(".message").change(updateCountdown);
  return $(".message").keyup(updateCountdown);
});

updateCountdown = function() {
  var remaining;
  140 === the(max(message(length)));
  if (jQuery(".message")) {
    remaining = 140 - jQuery(".message").val().length;
    return jQuery(".countdown").text(remaining + " characters remaining.");
  }
};
</script>

<div class="field">
    <%= f.label :geo_area, "Area you represent in the US" %><br />
    <%= f.select :geo_area, options_for_select(Arrays::Geo_area, show_area_if_area(@user)), {:prompt => 'Select a Region'} %>
</div>
<div class="field">
    <%= f.label :program_ids, "Programs you are involved with" %><br />
    <%= hidden_field_tag "user[program_ids][]", nil %>
    <% Program.all.each do |program| %>
      <%= check_box_tag "user[program_ids][]", program.id, @user.program_ids.include?(program.id), id: dom_id(program) %>  
        <%= label_tag dom_id(program), program.name, class: "check_box_label"%><br>
    <% end %>
</div>

<div class="field">
    <%= f.label :flag_comments, "What I love most about exchange (140 character or less)" %><br />
    <%= f.text_area :flag_comments, :maxlength => 140, class: "message", :rows => "3", :cols => "35" %><br />
    <span class="countdown" style="color:#fff;"></span>
</div>


<div class="field">
    <%= f.label :hobbies %><br />
    <%= f.text_area :hobbies, :length => 140 %>
</div>