<div class="field">
    <%= f.label :member_photo, "Upload profile photo" %><br />
    <%= f.file_field :member_photo %>
</div>
<fieldset>
    <LEGEND><b>Name</b></LEGEND>
    <div class="field"> 
        <%= f.label :first_name, "First Name" %> <%= required_field %><br />
        <%= f.text_field :first_name %>
    </div>
    <div class="field"> 
        <%= f.label :last_name, "Last Name" %> <%= required_field %><br />
        <%= f.text_field :last_name %>
    </div>
    
    
</fieldset>

<fieldset>
    <LEGEND><b>Where do you live</b></LEGEND>
    <div class="field">
        <%= f.label :address1%><br />
        <%= f.text_field :address1 %>
    </div>
    <div class="field">
        <%= f.label :address2%><br />
        <%= f.text_field :address2 %>
    </div>
    <div class="field">
        <%= f.label :city%><%= required_field %><br />
        <%= f.text_field :city %>
    </div>
    <div class="field"> 
        <%= f.label :state, "State" %><br />
        <%= f.select :state, options_for_select(Arrays::STATES, @user.state), {:prompt => 'Select a State'} %>
    </div>

    <div class="field">
        <%= f.label :zip%><br />
        <%= f.text_field :zip %>
    </div>
    <div class="field">
        <%= f.label :country%><br />
        <%= f.text_field :country %>
    </div>
    
</fieldset>

<fieldset>
    <LEGEND><b>Contact Info</b></LEGEND>
    <div class="field"> 
        <%= f.label :email, "Email" %> <%= required_field %><br />
        <%= f.text_field :email %>
    </div>

    <div class="field">
        <%= f.label :cell%><br />
        <%= f.text_field :cell %>
    </div>
    <div class="field">
        <%= f.label :phone%><br />
        <%= f.text_field :phone %>
    </div>
    

</fieldset>




