<fieldset>
    <LEGEND><b>Students and Host Families</b></LEGEND>
    <div class="field">
        <%= f.label :school%><br />
        <%= f.text_field :school %>
    </div>
    <div class="field">
        <%= f.label :family%><br />
        <%= f.text_field :family %>
    </div>
    <div class="field">
        <%= f.label :host_state %><br />
        <%= f.select :host_state, Arrays::STATES  %>
    </div>
    <div class="field">
        <%= f.label :host_country%><br />
        <%= f.text_field :host_country, :value => "USA" %>
    </div>
    

</fieldset>