
<ul class="model_table">
	<li>
		<ul class="instance_detail">
			<%= content_tag :li, @program.name, class:"name" %><br />
			<%= content_tag :div, raw(@program.body), class: "view_all" %>
			<ul class="crud_buttons">

				<%= content_tag :li, link_to("edit", edit_program_path(@program)), class:"edit" %>
				
				<%= content_tag :li, link_to("delete", program_path(@program), :confirm => "are you sure?", :method => :delete ), class:"delete" %>
			</ul>
		</ul>
		<br class="clear">
	</li>
	<br />

	<%= content_tag :li, link_to('View All programs', programs_path) %>
</ul>


