<%= f.fields_for :role do |builder| %>
	<div class="field">
	    <%= f.label :name, "Type of User" %><br />
	    <% if current_user %>
		    <% if current_user.role? :Admin %>
		    	<%= f.collection_select :role_ids, Role.all, :id, :name, prompt: true %>

		    <% else %>
				<%= f.collection_select :role_ids, @roles, :id, :name %>
		    <% end %>
	    <% else  %>
	    	<%= f.collection_select :role_ids, @roles, :id, :name %>
	    <% end %>
	</div>
<% end %>