<div class="coordinators">
	<ul>
		<% @states.sort.each do |state, coordinators| %>
			<%= content_tag :h2, state %>
			<% coordinators.each do |c| %>
				<li class="coordinator">
					<ul>
						<div class="coordinator_image left">
							<% if !c.member_photo.blank? %>
								<%= link_to image_tag(c.member_photo, size: "75x75"), user_path(c) %>
							<% else %>
								<%= link_to image_tag("blank.jpg", size: "75x75"), user_path(c) %>
							<% end %>
						</div>
						<div class="coordinator_attributes">
							<%= content_tag :li, c.first_name %>
							<%= content_tag :li, c.last_name %>
							<%= content_tag :li, link_to("send a message to me and my regional director", {:controller => "messages", :action => "new", :coor => c.id} , remote: true), class: "message_to_coordinator"%>
						</div>
					</ul>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

