<%= render 'shared/announcements' %>
<div class="user_index">
	<ul>
	<% @users.each do |f| %>
		<li class="<%= cycle('odd', 'even') %>">
            <ul class="user_row">
            	<li>
            		<ul class="user_items">
            			<% if f.member_photo.blank? %>
			            	<%= link_to image_tag("blank.jpg", size: "50x50"), user_path(f)  %>
			            <% else %>
			            	<%= link_to image_tag(profile_pic_if_uploaded(f), size: "50x50"), user_path(f)  %>
			            <% end %>

            		</ul>
            	</li>
            	<li>
            		<ul class="user_items">
						<%= link_to content_tag(:li, "#{f.fullname}"), user_path(f) %>
						<%= content_tag :li, f.school %>
					</ul>

            	</li>
            	<li>
            		<ul class="user_items">
						<% @week_images = f.images.for_this_range(Date.today.beginning_of_week-7.days, Date.today, "week").order("user_id DESC") %>
						<% @week_images.each do |img| %>
							<%= link_to image_tag(img.image, size: "50x50"), "#" %>
						<% end %>
						
					</ul>
				</li>
				<li>
					<ul class="user_items">
						<% @week_images = f.images.for_this_range(Date.today.beginning_of_week-7.days, Date.today, "week").order("user_id DESC")  %>
						<% @week_images.each do |img| %>
							<%= content_tag :li, image_tag(img.image, size: "50x50") %>
						<% end %>
						
					</ul>
            	</li>
            </ul>
		</li>
	<% end %>
	</ul>
</div>

 