<h1>Members</h1>
<div class="column_title pages">
    <ul>
        <%=content_tag :li, "First Name", class: "first_name" %>
        <%=content_tag :li, "Last Name", class: "last_name" %>
        <%=content_tag :li, "Email", class: "email" %>
        <%=content_tag :li, "Approved", class: "approved" %>
       
    </ul>
</div>
<ul class="model_table">
    <% @users.each do |user| %>
        <li>
            <ul class="instance_detail">
                <%= content_tag :li, user.first_name, class: "first_name"  %>
                <%= content_tag :li, user.last_name, class: "last_name" %>
                <%= content_tag :li, user.email, class: "email" %>
                <%= content_tag :li, user.approved, class: "approved" %>

                <ul class="crud_buttons">
                    <%= content_tag :li, link_to("edit", edit_user_path(user)), class: "edit" %>
                    <%= content_tag :li, link_to("view", user_path(user)), class: "view" %>
                    <%= content_tag :li, link_to("delete", user_path(user), :confirm => "are you sure?", :method => :delete ), class: "delete" %>
                    
                </ul>

               
                
            </ul>
            <br class="clear"/>
        </li>
    <% end %>

    </ul> 
    <br class="clear"/>
</div>
 <br class="clear"/>

