<%= render 'shared/announcements' %> 

<div class="testing">
	<h2>voting total</h2>
	<% @users = [] %>
	<%= @owners_that_received_votes.count %><br >
	<% @owners_that_received_votes.each do |o| %>
	<% @user = User.find(o[0]) %>
	<% @users << @user %>
	<% end %>

</div>
<div class="user_index">
	<ul class="users_dash_header">
		<li></li>
		<li>Student</li>
		<li>Last Week</li>
		<li>Last Month</li>
	</ul>
	<ul>
	<% @users.each do |f| %>

		<li class="<%= cycle('odd', 'even') %> student_<%= f.id %>_week">
            <ul class="user_row">
            	<li>
            		<ul class="user_items">
            			<% if f.member_photo.blank? %>
			            	<%= link_to image_tag("blank.jpg", size: "50x50"), user_path(f)  %>
			            <% else %>
			            	<%= link_to image_tag(profile_pic_if_uploaded(f), size: "50x50"), user_path(f)  %>
			            <% end %>

            		</ul>
            	</li>
            	<li>
            		<ul class="user_items">
						<%= link_to content_tag(:li, "#{f.fullname}"), user_path(f) %>
						<%= content_tag :li, f.school %>
					</ul>

            	</li>
            	<li>
            		<div class="voting_totals"><%= total_vote(f, 1) %></div>
		
            		<ul class="user_items week_gallery <%= chosen(@already_voted_for_week, f) %>">
            			
            			<%= render 'vote_for_week', f: f unless current_user.guest %>
						<% @week_images = f.images.for_this_range(previous_week_beg(Date.today), previous_week_end(Date.today), "week").order("user_id DESC") %>
						<% @week_images.each do |img| %>
							<%= link_to image_tag(img.image, size: "50x50"), go_to_range(f, 1)+ determine_week_params(img.date_taken.strftime("%Y-%m-%d"), f) %>
						<% end %>
						
					</ul>
				</li>
				<li>
					<div class="voting_totals"><%= total_vote(f, 2) %></div>
					<ul class="user_items month_gallery <%= chosen(@already_voted_for_month, f) %>">
						<%= render 'vote_for_month', f: f  unless current_user.guest %>
						<% @week_images = f.images.for_this_range(Date.today.beginning_of_month, Date.today.end_of_month, "month").order("user_id DESC")  %>
						<% @week_images.each do |img| %>
							<%= link_to image_tag(img.image, size: "50x50"), go_to_range(f, 2)+ last_month_contest_params(img.date_taken, f)  %>
						<% end %>
						
					</ul>
            	</li>
            </ul>
		</li>
	<% end %>
	</ul>
</div>

 