<%= render 'shared/announcements' %> 
 
<div class="winner_index best_week">
	
	<% @week_winners = [] %>
	<% @owners_that_received_week_votes.count %><br >
	<% @owners_that_received_week_votes.each do |o| %>
		<% @week_user = User.find(o[0]) %>
		<% @week_winners << @week_user %>
	<% end %>
	<ul>
		<% @week_winners.each do |f| %>
			<li class="student_<%= f.id %>_week">
	            <ul class="user_row">
	            	<li>
	            		<ul class="user_items">
	            			<%= render'users/community/user_profile', f: f %>
	            		</ul>
	            	</li>
	            	<li>
	            		<%= render 'users/community/week_voting_tally', f: f %>
					</li>	
	            </ul>
			</li>
		<% end %>
	</ul>

</div>

<div class="winner_index best_month">
	<% @month_winners = [] %>
	<% @owners_that_received_month_votes.count %><br >
	<% @owners_that_received_month_votes.each do |o| %>
		<% @month_user = User.find(o[0]) %>
		<% @month_winners << @month_user %>
	<% end %>
	<ul>
		<% @month_winners.each do |f| %>
			<li class="student_<%= f.id %>_week">
	            <ul class="user_row">
	            	<li>
	            		<ul class="user_items">
	            			<%= render'users/community/user_profile', f: f %>
	            		</ul>
	            	</li>
	            	<li>
						<%= render 'users/community/month_voting_tally', f: f %>
            		</li>	
	            </ul>
			</li>
		<% end %>
	</ul>
</div>


<div class="user_index">
	<ul class="users_dash_header">
		<li></li>
		<li>Student</li>
		<li>Last Week</li>
		<li>Last Month</li>
	</ul>
	<ul>
	<% @users.each do |f| %>

		<li class="<%= cycle('odd', 'even') %> student_<%= f.id %>_week">
            <ul class="user_row">
            	<li>
            		<ul class="user_items">
            			<%= render'users/community/user_profile', f: f %>
            		</ul>
            	</li>
            	<li>
            		<%= render 'users/community/month_voting_tally', f: f %>
				</li>
				
            </ul>
		</li>
	<% end %>
	</ul>
</div>

 