<div class="sign-up-page-form"> 
	<h1>Sign Up </h1>

	<%= form_for @user, :validate => true do |f| %>
		<%= render 'shared/errors', :object => f.object  %>
		
		<div class="field">
		    <%= f.label :first_name%><%= required_field %><br />
		    <%= f.text_field :first_name %>
		</div>
		<div class="field">
		    <%= f.label :last_name%><%= required_field %><br />
		    <%= f.text_field :last_name %>
		</div>
		<%= render 'users/authentication', f: f %>
		
		<%= render 'users/choose_role', f: f %>
	
		<div class="actions"><%= f.submit "Sign Up" %></div>
	<% end %>
</div>