<%= render 'shared/announcements' %>  
<%= flash[:notice] %>
<%= link_to "create announcement", new_announcement_path if admin?(current_user) %>
<h1>Profile Page</h1>
    <div class="sidebar">
        <% if !@user.guest? %>
            <div class="profile_container sidbar_tables">
                <ul>
                    
                    <li><%= best_in_place_if members_page(@user), @user, :first_name %> <%= best_in_place_if members_page(@user), @user, :last_name %></li>
                    <li>City:<%= best_in_place_if members_page(@user), @user, :city %></li>
                    <li>School Attending:<%= best_in_place_if members_page(@user), @user, :school %></li>
                    <li>Email:<%= best_in_place_if members_page(@user), @user, :email %></li>
                    <% if admin?(current_user) %>
                        <li>User Type: <%= best_in_place @user, :user_type, :type => :select, :collection => [[1, "Admin"], [2, "Student"]] %><li>
                    <% end %>
                	<li><%= link_to "update profile", edit_user_path if members_page(@user) %></li>
                    <li><%= link_to "Scrapbook", day_path() if !@user.guest? %>
                </ul>    
            </div>
        <% end %>
        <br class="clear">
    </div>
<div class="flag_feed">
    <% @random_images = Image.order("date_taken DESC").limit(9) %>
    <% n = 0 %>
    <ul>
    <% @random_images.each do |image| %>
        <li class="img_feed_container" data-counter = "<%= n+=1 %>" >
            <%= link_to image_tag(image.image_url(:scrap), width: "200px"), go_to_range(image.user, 0)+duration_params(image.date_taken, image.user, "day") %>
            <div class="img_content_container hide image_desc">
                <%= content_tag :div, image.content, class: "image_content" %>
                <%= link_to content_tag(:div, "Image taken by #{image.user.last_name} on #{image.date_taken.strftime("%B %d, %Y")}"), go_to_range(image.user, 0)+duration_params(image.date_taken, image.user, "day") %>
            </div>
        </li>
    <% end %>
    </ul> 
    <br class="clear"/>
</div>
<br class="clear">






 

	        

