
<div class="message_board"></div>

<div class="profile_container">
    <ul>
        <li><%= link_to image_tag("blank.jpg", size: "100x100"), user_path(@user.id) %>
    	<li><%= editable_if_current_user(@user, "first_name") %> 
    	<%= editable_if_current_user(@user, "last_name") %></li>
        <li>From: <%= editable_if_current_user(@user, "country") %></li>
        <li>School: <%= editable_if_current_user(@user, "school") %></li>
        <li>Email: <%= editable_if_current_user(@user, "email") %></li>

    	<li><%= link_to "edit profile", edit_user_path if current_user?(@user) %></li>
        <li><%= link_to "All Flag Students", users_path %></li>
        <li><%= link_to "Scrapbook", daily_scrapbook_path %>


    </ul>    
</div>
<div class="flag_feed">
    <% @random_images = Image.all %>
    <% n = 0 %>
    <ul>
    <% @random_images.each do |image| %>
        <li class="img_feed_container" data-counter = "<%= n+=1 %>" >
            <%= image_tag image.image_url(:profile), width: "200px" %>
            <div class="img_content_container hide">
                <%= content_tag :div, image.title %>

                <%= content_tag :div, image.content, class: "image_content" %>
                <%= link_to content_tag(:div, "Image taken by #{image.user.last_name} on #{image.date_taken.strftime("%B %d, %Y")}"), user_path(image.user.id) %>
            </div>
        </li>
    <% end %>
    </ul>   
</div>





 

	        

