<%= render 'shared/announcements' %>

<% unless @user.guest? %>
<div class="profile_container">
    <ul>

        <li><%= link_to image_tag("blank.jpg", size: "100x100"), user_path(@user.id) %>
        <li><%= best_in_place_if members_page(@user), @user, :first_name %> <%= best_in_place_if members_page(@user), @user, :last_name %></li>
        <li>City:<%= best_in_place_if members_page(@user), @user, :city %></li>
        <li>School Attending:<%= best_in_place_if members_page(@user), @user, :school %></li>
        <li>Email:<%= best_in_place_if members_page(@user), @user, :email %></li>
    	<li><%= link_to "edit profile", edit_user_path if members_page(@user) %></li>
        <li><%= link_to "All Flag Students", users_path %></li>
        <li><%= link_to "Scrapbook", day_path() if !@user.guest? %>


    </ul>    
</div>
<% end %>
<div class="flag_feed">
    <% @random_images = Image.all %>
    <% n = 0 %>
    <ul>
    <% @random_images.each do |image| %>
        <li class="img_feed_container" data-counter = "<%= n+=1 %>" >
            <%= image_tag image.image_url(:profile), width: "200px" %>
            <div class="img_content_container hide">
                <%= content_tag :div, image.title %>

                <%= content_tag :div, image.content, class: "image_content" %>
                <%= link_to content_tag(:div, "Image taken by #{image.user.last_name} on #{image.date_taken.strftime("%B %d, %Y")}"), user_path(image.user.id) %>
            </div>
        </li>
    <% end %>
    </ul>   
</div>





 

	        

