<h1><%= @user.email %></h1>

<div id="images">
	<% for image in @user.images %>
		<div class="image">
			<%= image_tag image.image_url(:thumb).to_s %>
			<div class="name"><%= image.title %></div>
			<div class="actions">
				<%= link_to "edit", edit_image_path(image) %>
				<%= link_to "remove", image, :confirm => 'Are you sure?', :method => :delete %>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
</div>


