<%= render 'shared/announcements' %>  
<%= flash[:notice] %>
<%= link_to "create announcement", new_announcement_path if admin?(current_user) %>
<h1>Profile Page</h1>
<% student = Role.find_by_name("Student").id %>
<% if @user.role_ids.include?(student) %>
    <div class="sidebar">
        <% if !@user.guest? %>
            <div class="profile_container sidbar_tables">
                <ul>
                    
                    <%= content_tag :li, @user.username %>
                    <%= content_tag :li, "Host State: #{@user.host_state}" if !@user.host_state.blank? %>
                    <%= content_tag :li, "Country of Origin: #{@user.host_country}" if !@user.host_country.blank? %>
                    
                    <% if admin?(current_user) %>
                        <li>User Type: <%= best_in_place @user, :user_type, :type => :select, :collection => [[1, "Admin"], [2, "Student"]] %></li>
                    <% end %>
                	<li><%= link_to "update profile", edit_user_path if members_page(@user) %></li>
                    <li><%= link_to "Scrapbook", day_path() if !@user.guest? %></li>
                </ul>    
            </div>
        <% end %>
        <br class="clear">
    </div>
<% end %>
<% coordinator = Role.find_by_name("Coordinator").id %>
<% if @user.role_ids.include?(coordinator) %>
    <div class="sidebar">
        
            <div class="profile_container sidbar_tables">
                <ul>
                    
                    <%= content_tag :li, @user.first_name %>
                    <%= content_tag :li, @user.last_name %>

                    
                    <% Arrays::Regional_coor.each_with_index do |value, index|  %>
                      <% if index == @user.regional_coor %>
                        <%= content_tag :li,"Region: #{value[0]}" %>
                      <% end %>
                    <% end %>
                    <% programs = [] %>
                    <% Program.all.each do |p| %>
                        <% if @user.program_ids.include?(p.id) %>
                            <% programs.push(p.name) %>
                        <% end %>
                    <% end %>
                
                    <%= content_tag :li, "I work with #{programs.join(', ')}" if !@user.program_ids.blank?%>
                    
                    <%= content_tag :li, "What I love about FLAG: #{@user.flag_comments}" %>
                    <%= content_tag :li, "Hobbies #{@user.hobbies}" %>
                    <% if admin?(current_user) %>
                        <li>User Type: <%= best_in_place @user, :user_type, :type => :select, :collection => [[1, "Admin"], [2, "Student"]] %></li>
                    <% end %>
                    <li><%= link_to "update profile", edit_user_path if members_page(@user) %></li>
                    <li><%= link_to "Scrapbook", day_path() if !@user.guest? %></li>
                </ul>    
            </div>
       
        <br class="clear">
    </div>
<% end %>
<div class="flag_feed">
    <div class="col_one columns">
        <%= render @column_one_images %>
    </div>

    <div class="col_two columns">
        <%= render @column_two_images %>
    </div>

    <div class="col_three columns">
        <%= render @column_three_images %>
    </div>

    <br class="clear"/>
</div>

<br class="clear">






 

	        

