
<% week_calculations() %>
<% range_calculations() %>
<%= render('javascript/image') %>
 

<% @bread_crumb = @beg_range %>
<!-- Go To Week link button with a bread crumb -->
<%= link_to content_tag(:div, "Go To Week", class: "nav_up"), weekly_scrapbook_path(beg_range: @beg_range_week, end_range: @end_range_week, bread_crumb: @bread_crumb) %>

<% image_num = 0 %>
<% @user_images.each do |image| %>
<!-- render out each image -->
	<!-- calculates which which image belongs to -->
	<% num = image.date_taken.strftime("%d").to_i/7 %>
	<% @beg_week = image.date_taken.beginning_of_month+num.weeks %>
	<% @end_week = @beg_week+6.days %>
	
	
	<% get_dimensions(image.id, "day") %>
	<% get_positions(image.id, "day") %>
	<!-- end calculate-->
	
	<div class="image_container thumbnail" style="width:<%= @con_width %>px;height:<%= @con_height %>px;left:<%= @left %>px;top:<%= @top %>px;position:absolute;">
		<ul class="control_panel">
			<li class="dragger" data-id="<%= image.id %>" data-range="day"><%= image_tag "drag.png", width: "20px", height: "20px" %></li>
			<li class="edit_msg"><%= link_to "Edit", [:edit, @user, image] %></li>
			<li class="drag_msg">Drag your photo anywhere</li><br />
			<div class="gallery_msg">				
			<% if image.week == false %>
				<% if (@user.images.where(date_taken: @beg_week..@end_week, week: true).count < 5) %>
					<%= form_for [@user, image], remote: true do |f| %>
					  <%= f.check_box :week %>
					  Add to your week
					<% end %>
				<% else %>
					<%= link_to content_tag(:div, "Your week is full"), weekly_scrapbook_path(beg_range: @beg_range_week, end_range: @end_range_week, bread_crumb: @bread_crumb) %>
				<% end %>
				
			<% elsif image.week == true %>
				<%= link_to content_tag(:div, "Part of weekly Gallery"), weekly_scrapbook_path(beg_range: @beg_range_week, end_range: @end_range_week, bread_crumb: @bread_crumb) %>
			<% end %>

			</div>
		</ul>
	   	
	   	<%= image_tag(image.image_url(:scrap), class: "scrap_image resizable", :"data-id" => image.id, :"data-content" => image.content, :"data-src" => image.image_url, :"data-range" => "day", style: "width:#{@width}px; height:#{@height}px;") %>
	   	
	</div>
	
	
	 <p id="large"></p>
<% end %>





<%= render('shared/journal_script') %>

<!-- Previous Next Buttons -->
<div class="nav_arrows">
	<div class="prev prev-next direction">
	    <%= link_to content_tag(:div,"prev", class: "prev_btn"), daily_scrapbook_path(beg_range: @beg_range.to_date-1, end_range: @beg_range.to_date-1), remote: true %>
	</div>
	<div class="next prev-next direction">
	    <%= link_to content_tag(:div,"next", class: "next_btn"), daily_scrapbook_path(beg_range: @beg_range.to_date+1, end_range: @beg_range.to_date+1), remote: true %>
	</div>
</div>


<!-- Bottom navigation menu -->
<div id="time_navigation">
	<ul class="thumbnail_images">
		<% if @month_images %>
			<% @month_images.each do |image| %>
			<div class="thumbnail_container">
				<li class="thumb_drag" data-id="<%= image.id %>" data-src="<%= image.image_url(:scrap) %>" data-range="day" ><%= link_to image_tag(image.image_url(:scrap), width: "50px", height: "50px"), daily_scrapbook_path(beg_range: image.date_taken.strftime("%Y-%m-%d"), end_range: image.date_taken.strftime("%Y-%m-%d")) %></li>
			</div>
			<% end %>
		<% end %>
	</ul>
	<ul class="dom_container">
		
		
		<% (@beg_range.to_date.beginning_of_month..@beg_range.to_date.end_of_month).each do |day| %>
			<!--  Pointer : add pointer class -->
			<% if @beg_range.to_date == day %>
				<%= link_to content_tag(:li, day.strftime("%d"), class: "days_of_month clickable_dates pointer"), daily_scrapbook_path(beg_range: day, end_range: day), remote: true %>
			<!--  Future days : add future_date class  -->	
			<% elsif Date.today < day %>
					<%= link_to content_tag(:li, day.strftime("%d"), class: "days_of_month clickable_dates future_date"), daily_scrapbook_path(beg_range: day, end_range: day), remote: true %>
			<!--  Future days : no extra classes  -->	
			<% else %>
				<% if @user.images.where(date_taken: day..day).any? || @user.journals.where(entry_date: day..day, day: true).any?%>
					<%= link_to content_tag(:li, day.strftime("%d"), class: "days_of_month clickable_dates content_exists"), daily_scrapbook_path(beg_range: day, end_range: day), remote: true %>
				<% else %>
					<%= link_to content_tag(:li, day.strftime("%d"), class: "days_of_month clickable_dates"), daily_scrapbook_path(beg_range: day, end_range: day), remote: true %>

				<% end %>
			<% end %>
		<% end %>
		
	</ul>
	<%= render('menus/by_week', :beg_month => @first_of_month ) %>

	<%= render('menus/by_month', :beg_range => @first_of_month ) %>
</div>