<div class="photos_container">
<% @user_images.each do |image| %>
<!-- determine day -->
<% beg_week = image.date_taken.beginning_of_week.strftime("%Y-%m-%d")%>
<% end_week = image.date_taken.end_of_week.strftime("%Y-%m-%d") %>
<% beg_month = image.date_taken.beginning_of_month.strftime("%Y-%m-%d") %>
	
	<li>
		<div class="image_container" id="image<%= @user.id %>-<%= image.id %>">
			<%= image_tag image.image_url, width:175, height:175 %>
			<%= content_tag :h3, image.title %>
			<%= content_tag :p, image.content, class: "image_content" %>
			<div class="actions">	
				<div class="gallery_msg">				
				<% if image.week == false %>
					<%= form_for [@user, @image], remote: true do |f| %>
  <%= f.check_box :week %>
  Add to your week
<% end %>
					<%= link_to content_tag(:div, "Want to add to your Week"), 
						"#", class: "add_to_your_week", :name => "image[week]", :"data-image" => image, :"data-user" => @user %>
				<% elsif image.week == true %>
					<%= link_to content_tag(:div, "Part of weekly Gallery"), weekly_scrapbook_path(start_week: beg_week, end_week: end_week) %>
				<% end %>
				</div>	
				<%= render('shared/edit_delete_image_container', :image => image) %>			
			</div>
		</div>
	</li>
<% end %>
</div>

	<!-- journal_container -->
<div class="journal_container">
		
	<% @user_journals.each do |entry| %>	
			<div class="journal_entry">
				<%= content_tag :p, entry.content %>
								
				<%= link_to image_tag("delete.png", width: 15, height: 15), [@user, entry ], :confirm => 'Are you sure?', :method => :delete, class: "scrap_image_X" %>
				<%= link_to "Edit", [:edit, @user, entry] %>
			</div>
			
	<% end %>	
</div>

