<div class="day_container" id="<%= d %>">

	<!-- <div class="scrapbook"><%= d %></div> -->
	<!-- Add a photo dropdown -->

	<% if @user.has_not_reached_daily_image_limit?(d) %>
		
		<li class="drop-image hot_form" >
			<a class="" href="#" >Add a photo<strong class="caret"></strong></a>
		</li>
		
	<% else %>
		<p>You have reached your daily upload limit.  In order to add new photos, you must delete one of the existing 5 below</p>
	<% end %>
	<!-- End photo dropdown -->

	<!-- Add a journal-entry dropdown -->
	<li class="drop-journal hot_form">
		<a class="" href="#" >Journal Entry<strong class="caret"></strong></a>
		
	</li> 
	<!-- End journal-entry dropdown -->

	<!-- photos_container -->
	<div class="photos_container">
		<% @images = @user.images.where(:date_taken => d) %>
		<% for image in @images do %>
			<li>
			<div class="image_container">
				<%= image_tag image.image_url, width:175, height:175 %>
				<%= content_tag :h3, image.title %>
				<%= content_tag :p, image.content, class: "image_content" %>
				<div class="actions">					
					<%= link_to image_tag("delete.png", width: 15, height: 15), [@user, image ], :confirm => 'Are you sure?', :method => :delete, class: "image_X" %>
					<%= link_to "Edit", [:edit, @user, image] %>						
				</div>
			</div>
			</li>
		<% end %>
	</div>

	<!-- journal_container -->
	<div class="journal_container">
		<% @entries = @user.journals.where(:entry_date => d) %>
		<% for entry in @entries do %>
			
			<div class="journal_entry">
				<%= content_tag :p, entry.content %>
								
				<%= link_to image_tag("delete.png", width: 15, height: 15), [@user, entry ], :confirm => 'Are you sure?', :method => :delete, class: "scrap_image_X" %>
				<%= link_to "Edit", [:edit, @user, entry] %>
			</div>
			
		<% end %>
	</div>

</div>