<script>
	jQuery(document).ready(function() {
		day_container = $('.day_container');
		day_container.hide();
		days_of_month = $('.days_of_month');
		// day_container.hide();
		days_of_month.on("click", function() {
			day_container.hide();
			dom_btn = $(this).data("date");
			$('#'+dom_btn).show();
		})	
	})
</script>



<!--  Render Max 5 images for User   -->  

	
	<%= Time.now.strftime('%m/%d') %>		
	<ul>
	<% @scrap_days.each do |day, scraps| %>
		<div class="day_container" id="<%=day.strftime('%m-%d-%Y') %>">
			<h2><%= day.strftime('%m/%d') %></h2>
			<!-- Add a photo dropdown -->
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Add a photo<strong class="caret"></strong></a>
				<div class="dropdown-menu image_form">
					<%= render 'images/form' %>
				</div>
			</li>
			<!-- Add a photo dropdown -->
			<div class="images_container">
				<% for scrap in scraps %>
				<li>
				<div class="image_container">
					<%= image_tag scrap.image_url, width:175, height:175 %>
					<%= content_tag :h3, scrap.title %>
					<%= content_tag :p, scrap.content, class: "image_content" %>
					<div class="actions">					
					<%= link_to image_tag("delete.png", width: 15, height: 15), [@user, scrap ], :confirm => 'Are you sure?', :method => :delete, class: "scrap_image_X" %>
			
					</div>
				</div>
				</li>
				<% end %>
			</div>	
		</div>
	<% end %>
	</ul>


<ul class="dom_container">
	<% @scrap_days.each do |day, scraps| %>
		<a href="#">
			<li class="days_of_month" data-date="<%=day.strftime('%m-%d-%Y') %>"><%= day.strftime('%d') %></li>
			
		</a>
	<% end %>
</ul>
<div class="test"></div>
<br class="clear"/>
