<script>
	jQuery(document).ready(function() {
		day_container = $('.day_container');
		day_container.hide();
		days_of_month = $('.days_of_month');
		// day_container.hide();
		days_of_month.on("click", function() {
			day_container.hide();
			dom_btn = $(this).data("date");
			
			$('#'+dom_btn).show();
		})	
	})
</script>



<!--  Render Max 5 images for User   -->  
<ul>
<% user_images = @user.images.select("date_taken").group("date_taken").order("date_taken ASC") %>
<% user_entries = @user.journals.select("entry_date").group("entry_date").order("entry_date ASC") %>
<% days = [] %>
<% user_images.uniq.each do |d| %>
	<% days << d %>
<% end %>
<% user_entries.uniq.each do |d2| %>
	<% days << d2 %>
<% end %>
  <% user_images.uniq.each do |d| %>
  <div class="day_container" id="<%= d.date_taken.to_s.split(' ')[0] %>">
	<h2><%= d.date_taken.to_s.split(' ')[0] %></h2>
	<!-- Add a photo dropdown -->
	<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown">Add a photo<strong class="caret"></strong></a>
		<div class="dropdown-menu image_form">
			<%= render 'images/form' %>
		</div>
	</li>
	<!-- End photo dropdown -->
	
	<!-- Add a journal-entry dropdown -->
	<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown">Journal Entry<strong class="caret"></strong></a>
		<div class="dropdown-menu image_form">
			<%= render 'journals/form' %>
		</div>
	</li>
	<!-- End journal-entry dropdown -->
  	<div class="images_container">
		<% @images = @user.images.where(:date_taken => d.date_taken) %>
		<% for image in @images do %>
			<li>
			<div class="image_container">
				<%= image_tag image.image_url, width:175, height:175 %>
				<%= content_tag :h3, image.title %>
				<%= content_tag :p, image.content, class: "image_content" %>
				<div class="actions">					
				<%= link_to image_tag("delete.png", width: 15, height: 15), [@user, image ], :confirm => 'Are you sure?', :method => :delete, class: "scrap_image_X" %>
		
				</div>
			</div>
			</li>
		<% end %>
		
	</div>
	<div class="journal_container">
		
	</div>
  </div>
  <% end %>


</ul>

<ul class="dom_container">
	<% user_images.uniq.each do |d| %>
	<a href="#">
		<li class="days_of_month" data-date="<%= d.date_taken.to_s.split(' ')[0] %>"><%=  d.date_taken.to_s.split(' ')[0].split('-')[2]  %></li>		
	</a>
	<% end %>
</ul>
