

 <div class="header_container">
   	<div class="thousand_wide_container ">
        <!-- Start of the nav bar content -->   
          	<ul class="nav_bar">
              <%= link_to content_tag(:li, "Home"), root_url %>
              <%= link_to content_tag(:li, "Profile"), profile_path %>
              <%= link_to content_tag(:li, "Scrapbook"), daily_scrapbook_path %>
              <%= link_to content_tag(:li, "About"), about_path %>
            </ul>
            <!-- The drop down menu --> 
            <ul class="nav_authentication">
                <% if current_user %>
                    <%= link_to content_tag(:li, "Sign Out"), logout_path, method: "delete" %>
                    <%= link_to content_tag(:li,  current_user.email), profile_path %>
                <% else %>
                    
                    <a href="#" ><li class="drop-auth">Sign In <strong class="caret"></strong>
                        <%= render('shared/sign_in_form') %></li></a>
                    <%= link_to content_tag(:li, "Sign Up"), new_user_path %>
                <% end %>
            </ul>
      </div>
  </div>
    