

 <div class="header_container"> 

   	<div class="thousand_wide_container ">
      <%= link_to image_tag("logo.png", class: "flag_header_logo"), root_path %>
        <!-- Start of the nav bar content -->   
          	<ul class="left_side nav_bar">
              <%= link_to content_tag(:li, current_user.last_name), user_path(current_user.id) if current_user%>
            </ul>
            <ul class="middle nav_bar">
              <%= link_to content_tag( :li, "Community" ), users_path %>
              <% if registered_member %>
                <%= link_to content_tag(:li, unless_already_on_scrapbook_page), root_path+"users/"+current_user.id.to_s+"/scrapbook/day" %>
              <% else %>
                <%= link_to content_tag(:li, ""), "" %>
              <% end %>
              <%= link_to content_tag(:li, "About"), about_path %>
            </ul>
            <!-- The drop down menu --> 
            <ul class="right_side nav_bar">
                <% if current_user %>
                   
                    <% if current_user.guest? %>
                      <%= link_to content_tag(:li, "Become a Member"), new_user_path %>
                      <%= link_to content_tag(:li, "Sign In", class: 'drop-auth'), new_session_path, remote: true %>
                    <% else %>
                      <%= link_to content_tag(:li, "Sign Out"), logout_path, method: "delete" %>
                    <% end %>
                <% else %>
                    <%= link_to content_tag(:li, "Sign In", class: 'drop-auth'), new_session_path, remote: true %>
                    
                    <%= link_to content_tag(:li, "Sign Up"), new_user_path, remote: true %>
                <% end %>
                
            </ul>
            <div class="auth_form_container"></div>
      </div>
  </div>
    