<div class="photos_container">
<% @user_images.each do |image| %>
<!-- determine day -->



    <li>
    	<div class="image_container" id="image<%= @user.id %>-<%= image.id %>">
            <%= image_tag image.image_url, width:175, height:175 %>
            <%= content_tag :h3, image.title %>
            <%= content_tag :p, image.content, class: "image_content" %>
            <div class="actions">
                <div class="gallery_msg">               
                <% if image.year == false %>
                    <%= form_for [@user, image], remote: true do |f| %>
                      <%= f.check_box :year %>
                      Add to year
                    <% end %>
                <% elsif image.year == true %>
                    <%= link_to content_tag(:div, "Part of yearly Gallery"), yearly_scrapbook_path %>
                <% end %>   
                <%= form_for [@user, image], remote: true do |f| %>
                    <%= f.check_box :month %>
                    Remove from month
                <% end %>
                </div>
                <%= render('shared/edit_delete_image_container', :image => image) %>    
            </div>
        </div>
    </li>
<% end %>
</div> 