<%= render('shared/time_calc', beg_range: @beg_range) %>
<%= render('javascript/image') %>
<% @bread_crumb = @beg_range %>

<%= link_to content_tag(:div, "Go To Year", class: "nav_up"), yearly_scrapbook_path(beg_range: @beg_range.to_date.beginning_of_year, end_range: @beg_range.to_date.end_of_year, bread_crumb: @bread_crumb) %>
<%= link_to content_tag(:div, "Back", class: "nav_down direction"), weekly_scrapbook_path(beg_range: @originating_week_beg, end_range: @originating_week_end) %>

<% image_num = 0 %>
<% @user_images.each do |image| %>
<!-- determine day -->
<% beg_year = image.date_taken.beginning_of_year %>
<% end_year = image.date_taken.end_of_year %>
<% beg_month = image.date_taken.beginning_of_month.strftime("%Y-%m-%d") %>
     
    <li>
        <div class="image_container image_position thumbnail" id="image_<%= image_num += 1 %>">
            <%= link_to image_tag(image.image_url(correct_image(image_num)), title: image.title, alt: image.title), image.image_url, title: image.title %>
            
            <div class="actions hide">   
                <div class="gallery_msg">               
                <% if image.year == false %>
                    <% if (@user.images.where(date_taken: beg_year..end_year, year: true).count < 5) %>
                        <%= form_for [@user, image], remote: true do |f| %>
                          <%= f.check_box :year %>
                          Add to your year
                        <% end %> 
                    <% else %>
                        <%= link_to content_tag(:div, "Your year is full"), yearly_scrapbook_path(beg_range: beg_year, end_range: end_year, bread_crumb: @bread_crumb) %>
                    <% end %>
                    
                <% elsif image.year == true %>
                    <%= link_to content_tag(:div, "Part of yearly Gallery"), yearly_scrapbook_path(beg_range: beg_year, end_range: end_year) %>
                <% end %>
                <%= form_for [@user, image], remote: true do |f| %>
                    <%= f.check_box :month %>
                    Remove from month
                <% end %>
                </div>  
                <%= render('shared/edit_delete_image_container', :image => image) %>    
            </div>
        </div>
    </li>
<% end %>

<!-- journal_container -->
<%= render('shared/journal_script') %>

<div class="nav_arrows">
    <div class="prev prev-next direction">
        <%= link_to content_tag(:div,"prev", class: "prev_btn"), monthly_scrapbook_path(beg_range: @beg_range.to_date.beginning_of_month.prev_month, end_range: @beg_range.to_date.beginning_of_month-1.day), remote: true %>
    </div>
    <div class="next prev-next direction">
        <%= link_to content_tag(:div,"next", class: "next_btn"), monthly_scrapbook_path(beg_range: @beg_range.to_date.beginning_of_month.next_month, end_range: @beg_range.to_date.beginning_of_month+2.months-1.day), remote: true %>
    </div>
</div>
<div id="time_navigation">
    <ul class="thumbnail_images">
        <% if @month_images %>
            <% @month_images.each do |image| %>
                <% num = image.date_taken.strftime("%d").to_i/7 %>
                <% beg_week = image.date_taken.beginning_of_month+num.weeks %>
                <% end_week = beg_week+6.days %>
                <li><%= link_to image_tag(image.image_url(:thumb), width: "50px", height: "50px"), weekly_scrapbook_path(beg_range: beg_week, end_range: end_week, bread_crumb: @bread_crumb) %></li>
            <% end %>
        <% end %>
    </ul>
    <%= render('menus/by_day', :beg_range => @beg_range ) %>
    <%= render('menus/by_week', :beg_month => @beg_month ) %>
    <ul class="moy_container">
        
        <% @join_date = @user.created_at %>
        <% (0..11).each do |num| %>
            <% @beg_month = (@join_date.to_date >> num).beginning_of_month %>
            <% @end_month = (@join_date.to_date >> num).end_of_month %>
            <% if @beg_range.to_date.between?(@beg_month, @end_month) %>
                <%= link_to content_tag(:li, @beg_month.strftime("%b"), class: "months_of_year clickable_months month_pointer"), 
                monthly_scrapbook_path(beg_range: @beg_month, end_range: @end_month), remote: true %>
            <!--  Future days : add future_date class  --> 
            <% elsif Date.today < @beg_month %>
                <%= link_to content_tag(:li, @beg_month.strftime("%b"), class: "months_of_year clickable_months future_date"), monthly_scrapbook_path(beg_range: @beg_month, end_range: @end_month), remote: true %>
            <% else %>
                <%= link_to content_tag(:li, @beg_month.strftime("%b"), class: "months_of_year clickable_months"), 
                monthly_scrapbook_path(beg_range: @beg_month, end_range: @end_month), remote: true %>
            <% end %>
        <% end %>
    
    </ul>
</div>