 
<div class="sidebar">
	<div class="sidbar_tables">
		<h2>Latest News</h2>
		<% @announcements.each do |a| %>
			<div class="item">
				<ul class="table_row">
					<%= content_tag :li, a.title, class: "title"  %>
					<%= content_tag :li, a.message, class: "message" %>
					
				</ul>
				<br class="clear">
			</div>
		<% end %>
		<br class="clear">
	</div>
	<div class="sidbar_tables">
		<h2>Upcoming Events</h2>
		<% @events.each do |e| %>
			<div class="item">
				<ul class="table_row">
					<%= content_tag :li, e.title, class: "title" %>
					<li><strong>When:</strong> <%= e.event_start %></li>
					<li><strong>Where:</strong> <%= e.location %></li>
					<%= content_tag :li, e.body, class: "message" %>
					
				</ul>
				<br class="clear">
			</div>
		<% end %>
		<br class="clear">
	</div>

</div>


