<style type="text/css">
	.sidebar {
		width:350px;
		min-height:100px;
		border-radius: 5px;
		webkit-border-radius: 5px;
		moz-border-radius: 5px;
		margin-top:300px;
		clear:both;
	}

	.sidbar_tables {
		box-shadow: 0px 0px 5px;
		width:300px;
		margin:10px auto;
		padding:10px;
		background:#fff;
		border-radius: 5px;
	}

	.sidbar_tables h2 {
		border:none;
		margin: 0 0 10px;
		padding-top: 2px;
		text-align: center;
	}

	ul.table_header {
		margin: 0px;
		padding: 0px;
		height: 45px;
	}

	ul.table_header li {
		float: left;
		width: 60px;
		list-style: none;
		font-size: 12px;
		text-align: center;
		padding: 0px;
	}

	.item {
		border-radius: 5px;
		box-shadow: 0px 0px 2px inset;
		padding: 10px;
		margin:10px 0px;
	}

	ul.table_row {
		margin: 0px;
		padding: 0px;
		height: 45px;
		clear:both;
	}

	ul.table_row li {
		float: left;
		width: 100%;
		list-style: none;
		font-size: 12px;
		padding: 0px;

	}

	.title {
		font-weight: bold;
	}

	.message {
		clear: both;
	}

	
</style>

<div class="sidebar">
	<div class="sidbar_tables">
		<h2>Latest News</h2>
		<% @announcements.each do |a| %>
			<div class="item">
				<ul class="table_row">
					<%= content_tag :li, a.title, class: "title"  %>
					<%= content_tag :li, a.message, class: "message" %>
					
				</ul>
				<br class="clear">
			</div>
		<% end %>
		<br class="clear">
	</div>
	<div class="sidbar_tables">
		<h2>Upcoming Events</h2>
		<% @events.each do |e| %>
			<div class="item">
				<ul class="table_row">
					<%= content_tag :li, e.title, class: "title" %>
					<%= content_tag :li, "<strong>When:</strong>#{e.date}" %>
					<%= content_tag :li, e.location %>
					<%= content_tag :li, e.description, class: "message" %>
					
				</ul>
				<br class="clear">
			</div>
		<% end %>
	</div>

</div>