<%= render('shared/time_calc', beg_range: @beg_range) %>
<%= render('javascript/image') %>
<% @bread_crumb = @beg_range %>

<%= link_to content_tag(:div, "Go To Month", class: "nav_up"), monthly_scrapbook_path(beg_range: @first_of_month, end_range: @last_of_month, bread_crumb: @bread_crumb) %>
<%= link_to content_tag(:div, "Back", class: "nav_down direction"), daily_scrapbook_path(beg_range: @bread_crumb_beg, end_range: @bread_crumb_beg) %>

<% image_num = 0 %>
<% @user_images.each do |image| %>
<!-- determine day -->
    <!-- calculates which which image belongs to -->
    <% num = image.date_taken.strftime("%d").to_i/7 %>
    <% beg_week = image.date_taken.beginning_of_month+num.weeks %>
    <% end_week = beg_week+6.days %>
    <!-- end calculation-->
      
    <li>
        <div class="image_container image_position thumbnail" id="image_<%= image_num += 1 %>">
            <%= link_to image_tag(image.image_url(correct_image(image_num)), title: image.title, alt: image.title), image.image_url, title: image.title %>
            <div class="actions hide">   
                <div class="gallery_msg">               
                    <% if image.month == false %>
                        <% if (@user.images.where(date_taken: @first_of_month..@last_of_month, month: true).count < 5) %>
                            <%= form_for [@user, image], remote: true do |f| %>
                              <%= f.check_box :month %>
                              Add to your month
                            <% end %>
                        <% else %>
                            <%= link_to content_tag(:div, "Your month is full"), monthly_scrapbook_path(beg_range: @first_of_month, end_range: @last_of_month, bread_crumb: @bread_crumb) %>
                        <% end %>
                        <%= form_for [@user, image], remote: true do |f| %>
                        <%= f.check_box :week %>
                         Remove from week
                    <% end %>
                        
                    <% elsif image.month == true %>
                        <%= link_to content_tag(:div, "Part of monthly Gallery"), monthly_scrapbook_path(beg_range: @first_of_month, end_range: @last_of_month, bread_crumb: @bread_crumb) %>
                    <% end %>
                    

                </div>  
                <%= render('shared/edit_delete_image_container', :image => image) %>    
            </div>
        </div>
    </li>
<% end %>

<%= render('shared/journal_script') %>


<div class="nav_arrows">
    <div class="prev prev-next direction">
        <%= link_to content_tag(:div,"prev", class: "prev_btn"), weekly_scrapbook_path(beg_range: @beg_of_prev_week, end_range: @end_of_prev_week), remote: true %>
    </div>
    <div class="next prev-next direction">
        <%= link_to content_tag(:div,"next", class: "next_btn"), weekly_scrapbook_path(beg_range: @beg_of_next_week, end_range: @end_of_next_week), remote: true %>
    </div>
</div>
<div id="time_navigation">
    <ul class="thumbnail_images">
        <% if @month_images %>
            <% @month_images.each do |image| %>
                <% num = image.date_taken.strftime("%d").to_i/7 %>
                <% beg_week = image.date_taken.beginning_of_month+num.weeks %>
                <% end_week = beg_week+6.days %>
                <li><%= link_to image_tag(image.image_url, width: "50px", height: "50px"), weekly_scrapbook_path(beg_range: beg_week, end_range: end_week, bread_crumb: @bread_crumb) %></li>
            <% end %>
        <% end %>
    </ul>
    <%= render('menus/by_day', :beg_range => @beg_range ) %>

    <ul class="wom_container">
    <% (0..4).each do |num| %>  
        <% @beginning_of_dyn_range = @first_of_month.to_date+num.weeks %>
        <% if num == 4 %>
            <% @end_of_dyn_range = @first_of_month.to_date.next_month-1 %>
        <% else %>
            <% @end_of_dyn_range = @first_of_month.to_date+(num+1).weeks-1 %>
        <% end %>
            <!--  Future days : add future_date class  --> 
        <% if @beg_range.to_date.between?(@beginning_of_dyn_range, @end_of_dyn_range) %> 
            <%= link_to content_tag(:li, "#{@beginning_of_dyn_range.strftime('%m/%d')} to #{@end_of_dyn_range.strftime('%m/%d')}", class: "weeks_of_month clickable_weeks week_pointer"), weekly_scrapbook_path(beg_range: @beginning_of_dyn_range, end_range: @end_of_dyn_range)  %>
        <!--  Future days : add future_date class  -->  
        <% elsif Date.today < @beginning_of_dyn_range %>
            <%= link_to content_tag(:li, "week #{num+1}", class: "weeks_of_month clickable_weeks future_date"), weekly_scrapbook_path(beg_range: @beginning_of_dyn_range, end_range: @end_of_dyn_range) %>
        <% else %>
            <%= link_to content_tag(:li, "week #{num+1}",  class: "weeks_of_month clickable_weeks"), weekly_scrapbook_path(beg_range: @beginning_of_dyn_range, end_range: @end_of_dyn_range), remote: true %>
        <% end %>
    <% end %>
    </ul>

    <%= render('menus/by_month', :beg_range => @beg_range ) %>
</div>