<% bread_crumb_beg(@bread_crumb) %>
<% week_calculations() %>
<% range_calculations() %>
<%= render('javascript/image') %>
<% @bread_crumb = @beg_range %> 
 
<%= link_to content_tag(:div, "Go To Month", class: "nav_up"), monthly_scrapbook_path(beg_range: @first_of_month, end_range: @last_of_month, bread_crumb: @bread_crumb) %>
<%= link_to content_tag(:div, "Back", class: "nav_down direction"), daily_scrapbook_path(beg_range: @bread_crumb_beg, end_range: bread_crumb_end(@bread_crumb_beg)) %>

<% image_num = 0 %>
<% @user_images.each do |image| %>
<!-- determine day -->
    <!-- calculates which which image belongs to -->
    <% num = image.date_taken.strftime("%d").to_i/7 %>
    <% beg_week = image.date_taken.beginning_of_month+num.weeks %>
    <% end_week = beg_week+6.days %>
    <!-- end calculation-->
    <% get_dimensions(image.id, "week") %> 
    <% get_positions(image.id, "week") %>
    
    <div class="image_container thumbnail" style="width:<%= @con_width %>px;height:<%= @con_height %>px;left:<%= @left %>px;top:<%= @top %>px;position:absolute;">
        <ul class="control_panel">
            <li class="dragger cp" data-id="<%= image.id %>" data-range="day">Resize</li>
            <li class="crop_msg cp" data-crumb=" <%= @bread_crumb %> " data-id="<%= image.id %>" data-range="week">Crop</li>
            <%= link_to "Edit", [:edit, @user, image], class: "edit_msg cp", remote: true %>
            <%= link_to "Delete", [@user, image ], :confirm => 'Are you sure?', :method => :delete, class: "image_X cp" %>
            <li class="drag_msg">Drag your photo anywhere</li><br />
            <li class="gallery_msg">    
                <!-- if image has been taken off of month or has never been added-->
                <% if image.month == false || image.month == nil %>
                    <% if (@user.images.where(date_taken: @first_of_month..@last_of_month, month: true).count < 5) %>
                        <%= form_for [@user, image], remote: true do |f| %>
                          <%= f.check_box :month %>
                          Add to your month
                        <% end %>
                    <% else %>
                        <%= link_to content_tag(:div, "Your month is full"), monthly_scrapbook_path(beg_range: @first_of_month, end_range: @last_of_month, bread_crumb: @bread_crumb) %>
                    <% end %>
                    <%= form_for [@user, image], remote: true do |f| %>
                        <%= f.check_box :week %>
                         Remove from week
                    <% end %>  

                <% elsif image.month == true %>
                    <%= link_to content_tag(:div, "Part of monthly Gallery"), monthly_scrapbook_path(beg_range: @first_of_month, end_range: @last_of_month, bread_crumb: @bread_crumb) %>
                <% end %>
                
            </li>  
            <%= render('shared/edit_delete_image_container', :image => image) %>
        </ul>
        <%= image_tag(image.image_url(:scrap), class: "scrap_image resizable", :"data-id" => image.id, :"data-content" => image.content, :"data-src" => image.image_url, :"data-range" => "week", style: "width:#{@width}px; height:#{@height}px;") %>
    </div>
    <p id="large"></p>
<% end %>

<%= render('shared/journal_script') %>


<div class="nav_arrows">
    <div class="prev prev-next direction">
        <%= link_to content_tag(:div,"<", class: "prev_btn"), weekly_scrapbook_path(beg_range: @beg_of_prev_week, end_range: @end_of_prev_week), remote: true %>
    </div>
    <div class="next prev-next direction">
        <%= link_to content_tag(:div,">", class: "next_btn"), weekly_scrapbook_path(beg_range: @beg_of_next_week, end_range: @end_of_next_week), remote: true %>
    </div>
</div>
<div class="time_nav_btn"> - - - </div>
<!-- Bottom navigation menu -->
<div class="time_navigation">
    <%= image_tag "delete.png", class: "delete_time_nav", size: "15x15" %>
    <ul class="thumbnail_images">
        <% if @month_images %>
            <% @month_images.each do |image| %>
                <% num = image.date_taken.strftime("%d").to_i/7 %>
                <% beg_week = image.date_taken.beginning_of_month+num.weeks %>
                <% end_week = beg_week+6.days %>
            <div class="thumbnail_container">
                <li class="thumb_drag" data-id="<%= image.id %>" data-src="<%= image.image_url(:scrap) %>" data-range="week" data-image="<%= image %>"><%= link_to image_tag(image.image_url, width: "25px", height: "25px"),
                        weekly_scrapbook_path(beg_range: beg_week, end_range: end_week, bread_crumb: @bread_crumb) %></li>
            </div>
            <% end %>
        <% end %>
    </ul>
    <%= render('menus/by_day', :beg_range => @beg_range ) %>

    <ul class="wom_container">
    <% (0..4).each do |num| %>  
        <% @beginning_of_dyn_range = @first_of_month.to_date+num.weeks %>
        <% if num == 4 %>
            <% @end_of_dyn_range = @first_of_month.to_date.next_month-1 %>
        <% else %>
            <% @end_of_dyn_range = @first_of_month.to_date+(num+1).weeks-1 %>
        <% end %>
            <!--  Future days : add future_date class  --> 
        <% if @beg_range.to_date.between?(@beginning_of_dyn_range, @end_of_dyn_range) %> 
            <%= link_to content_tag(:li, "#{@beginning_of_dyn_range.strftime('%m/%d')} to #{@end_of_dyn_range.strftime('%m/%d')}", class: "weeks_of_month clickable_weeks week_pointer"), weekly_scrapbook_path(beg_range: @beginning_of_dyn_range, end_range: @end_of_dyn_range)  %>
        <!--  Future days : add future_date class  -->  
        <% elsif Date.today < @beginning_of_dyn_range %>
            <%= link_to content_tag(:li, "week #{num+1}", class: "weeks_of_month clickable_weeks future_date"), weekly_scrapbook_path(beg_range: @beginning_of_dyn_range, end_range: @end_of_dyn_range) %>
        <% else %>
            <%= link_to content_tag(:li, "week #{num+1}",  class: "weeks_of_month clickable_weeks"), weekly_scrapbook_path(beg_range: @beginning_of_dyn_range, end_range: @end_of_dyn_range), remote: true %>
        <% end %>
    <% end %>
    </ul>

    <%= render('menus/by_month', :beg_range => @beg_range ) %>
</div>