<div class="photos_container">
<% @user_images.each do |image| %>
    <% date_taken = image.date_taken %>
    <% beg_date = date_taken.beginning_of_month %>
    <% start_date = beg_date.strftime("%Y-%m-%d") %>
    <% end_date = beg_date.next_month-1 %>
    <% end_date = end_date.strftime("%Y-%m-%d") %>
    
    <li>
    	<div class="image_container" id="image<%= @user.id %>-<%= image.id %>">
            <%= image_tag image.image_url, width:175, height:175 %>
            <%= content_tag :h3, image.title %>
            <%= content_tag :p, image.content, class: "image_content" %>
            <div class="actions">
                <div class="gallery_msg">               
                <% if image.month == false %>
                    <%= form_for [@user, image], remote: true do |f| %>
                      <%= f.check_box :month %>
                      Add to month
                    <% end %>
                <% elsif image.month == true %>
                    <%= link_to content_tag(:div, "Part of monthly Gallery"), monthly_scrapbook_path(start_month: start_date, end_month: end_date) %>
                <% end %>   
                <%= form_for [@user, image], remote: true do |f| %>
                    <%= f.check_box :week %>
                    Remove from week
                <% end %>
                </div>
                <%= render('shared/edit_delete_image_container', :image => image) %>    
            </div>
        </div>
    </li>
<% end %>
</div> 