<%= form_for @page, :html => {:class => 'page_form_edit'} do |f| %> 
	<%= render 'shared/errors', object: @page %> 
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content, :class => 'ckeditor' %>
	</div>
	
	<div class="field">
		<%= f.label :current_state %>
		<%= collection_select(:page, :current_state, Status.all, :id, :status_name, option = { :selected => @page.current_state}) %>
	</div>
	
	<div class="field">
	  	<%= hidden_field_tag "page[link_ids][]", nil %>
	    <% @links.each do |link| %>
	      <%= check_box_tag "page[link_ids][]", link.id, @page.link_ids.include?(link.id), id: dom_id(link) %>  
	
      <%= label_tag dom_id(link), link.location %><br> 
	    <% end %>
	</div>
	   
	<div class="actions">
		<%= f.submit %>
	</div>


<% end %>