 $(".pageStates").show()
 
 $("#published_pages").html("<%= j render @published_pages %>").prepend("<h3>Published Pages (<%= Page.published.count %>)</h3>")
 
 $("#scheduled_pages").html("<%= j render @scheduled_pages %>").prepend("<h3>Scheduled Pages (<%= Page.scheduled.count %>)</h3>")

 $("#draft_pages").html("<%= j render @draft_pages %>").prepend("<h3>Draft Pages (<%= Page.draft.count %>)</h3>")


 