<%= form_for [@user, @journal], remote: true do |f| %>
  <% @resource_m = request.path.split('/')[1] %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= @page_source %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <% if @resource_m == "weekly_scrapbook" %>
    <%= @range = content_tag :h2, "#{@beg_range.strftime('%B')} #{@beg_range.strftime('%d')}-#{@end_range.strftime('%d')}, #{@beg_range.strftime('%Y')}", class: "journal_date_range" %>
  <% elsif @resource_m == "monthly_scrapbook" %>
    <%= @range = content_tag :h2, "#{@beg_range.strftime('%B')} #{@beg_range.strftime('%Y')}", class: "journal_date_range" %>
  <% elsif @resource_m == "yearly_scrapbook" %>
    <%= @range = content_tag :h2, "#{@beg_range.strftime('%Y')}", class: "journal_date_range" %>
  <% else %>
    <%= @range = content_tag :h2, @beg_range, class: "journal_date_range" %>
  <% end %>
  <div class="field">
    <%= f.label :entry_date %><br />
    <%= f.text_field :entry_date, value: @beg_range  %>
  </div>
  <div class="field">
    <%= f.label :content,:rows => 2,
                :cols => 10, :rows => 10 %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Add Entry" %>
  </div>
<% end %>
