<!-- click on journal_btn and journal form shows in journal container --> 
<% unless current_user.role? :Coordinator %>
	<% if @user.role? :Coordinator %>
		<div id="learn_more">
			<%= link_to "Learn more about me", "/users/#{@user.id}"   %>
		</div>
	<% end %>
<% end %>

<% if user_approved(@user) && members_page(@user)%>
	<div id="photo_form"></div>  
	<%= content_tag :div, "", class: "photo_btn cont_btn_style", :"data-date" => @beg_range if members_page(@user) %>

	<div id="journal_form"></div>

	<% if !@journal.any? %> 	
		<%= content_tag :div, "", class: "journal_btn cont_btn_style", :"data-date" => @beg_range, :"data-range" => page, :"data-root" => root_path if members_page(@user) %>
	<% else %>
		<%= content_tag :div, "", class: "show_journal_entry", :"data-date" => @beg_range, :"data-range" => page, :"data-root" => root_path if members_page(@user) %>
	<% end %>
<% end %>

<!-- journal_container -->
<div id="journal_container">
	<%= render('journals/journal_container') %>
</div>
