<p id="notice"><%= notice %></p>


  <b>User:</b>
  <%= best_in_place [@user, @journal], :content %>
</p>

<p>
  <b>Content:</b>
  <%= @journal.content %>
</p>


<%= link_to 'Edit', [:edit, @user, @journal] %> |
<%= link_to 'Back', [@user, :journal] %>
