<%= form_for [@user, @image], html: {:multipart => true} do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <%= f.hidden_field :user_id, value: @user.id %>
  <h2>Image Upload</h2>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
  	
    <%= f.file_field :image %>
  </div>
  <div class="field">
  	<%= f.label :remote_image_url, "or image url" %><br />
  	<%= f.text_field :remote_image_url %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :date_taken %><br />
    <%= f.text_field :date_taken %>
  </div>
  <div class="field">
    <%= f.label :week, "add to Week ScrapBook?" %><br />
    <%= f.check_box :week %>
  </div>
  <div class="field">
    <%= f.label :month, "add to Month ScrapBook?" %><br />
    <%= f.check_box :month %>
  </div>
  <div class="field">
    <%= f.label :year, "add to Year ScrapBook?" %><br />
    <%= f.check_box :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
