<%= form_for [@user, @image], html: {:multipart => true}, remote: true do |f| %> 
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div> 
  <% end %>  
  <%= f.hidden_field :user_id, value: @user.id %> 


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
<% if @image.new_record? %>
  <%= f.hidden_field :date_taken, value: @date_taken %>
  <div class="field">
    <%= f.file_field :image %>
  </div>
<% else %>
  <%= f.hidden_field :image, value: @image.image_url %>
  <%= f.hidden_field :date_taken, value: @image.date_taken %>
<% end %>

  
  <div class="field">
    <%= f.label :content, "max length is 140 characters" %><br />
    <%= f.text_area :content, :cols => 40, :rows => 4, :maxlength => 140 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


