<style>
	.sample_images {
		width:400px;
		height:200px;
		margin-top:100px;

	}
	.coords_container {
		width:400px;
		height:200px;
		margin-top:100px;
	}

	#cropbox {
		width:400px;
		height:400px;
	}
	.style {
		overflow: hidden;
		float:left;
		margin-left:50px;
		border:1px solid blue;
	}

	.landscape {
		width:300px;
		height: 180px;
	}

	.portrait {
		width:300px;
		height: 450px;

	}

	.mini {
		width:125px;
		height: 100px;
	}
</style><h1>Crop Image</h1>

<%= image_tag @image.image_url(), id: "cropbox" %>

<h4>Preview</h4>
<div id="sample_images">
	<div class="style landscape">
	  <%= image_tag @image.image_url(), :class => "preview" %>
	</div>
	<div class="style portrait">
	  <%= image_tag @image.image_url(), :class => "preview" %>
	</div>
	<div class="style mini">
	  <%= image_tag @image.image_url(), :class => "preview" %>
	</div>
</div>

<div class="coords_container">
<%= form_for [@user, @image] do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.text_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>
</div>

