

<style>	
	.coords_container {
		width:400px;
		height:200px;
		margin-top:100px;
	}
</style>
<%   %>
<h1><%= link_to "Back to Scrapbook", go_to_day_link(current_user)+date_range_params(@image.date_taken) %> </h1>


<%= image_tag @image.image_url(), class: "cropbox" %><br />


<%= image_tag @image.image.url(:scrap), :id => "scrap" %>



<div class="coords_container">
<%= form_for [@user, @image] do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.text_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>


</div>

