<script>
$(document).ready(function() {
	
    // $('.resizable').resizenow(); 
    $(".resizable").load(function() {
    	// get original dimensions of image coming in
    	var image_width = $(this).width();  
        var image_height = $(this).height();
        $(".width").html(image_width);
        $(".height").html(image_height);

        //Define image ratio
        var ratio = image_height/image_width;
        $(".ratio").html(ratio);
        // allows user to resize while keeping original aspectRatio
        $(this).resizable({
        	aspectRatio: 1/ratio,
        	ghost: true,
        	stop: function(event, ui) {
		      var endW = $(event.target).outerWidth();
		      var endH = $(event.target).outerHeight();
		      $(".new_width").html(endW);
		      $(".new_height").html(endH);
		   }
        })
    });

   
   
});
</script>

<style>
	
	.coords_container {
		width:400px;
		height:200px;
		margin-top:100px;
	}

	.resizable {
		padding:2px;
		border:2px solid gray;
	} 

	.preview_container {
		width:100px; 
		height:100px; 
		overflow:hidden;
	}

</style>
<h1>Crop Image</h1>

<%= image_tag @image.image_url(:scrap), class: "draggable" %><br />

width:<div class="width"></div><br />
height:<div class="height"></div><br />
ratio:<div class="ratio"></div><br />
new width: <div class="new_width"></div><br />
new height: <div class="new_height"></div><br />

<%= image_tag @image.image_url(:scrap), class: "resizable" %><br />

<%= image_tag @image.image_url(), class: "cropbox" %><br />

<h4>Preview</h4>
<div class="preview_container">
  <%= image_tag @image.image.url(:thumb), :id => "preview" %>

</div>
<%= image_tag @image.image.url(:scrap), :id => "scrap" %>



<div class="coords_container">
<%= form_for [@user, @image] do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.text_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>
</div>

