<h1>Listing images</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Url</th>
    <th>Content</th>
    <th>Date taken</th>
    <th>Week</th>
    <th>Month</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.user_id %></td>
    <td><%= image.title %></td>
    <td><%= image.image_url %></td>
    <td><%= image.content %></td>
    <td><%= image.date_taken %></td>
    <td><%= image.week %></td>
    <td><%= image.month %></td>
    <td><%= image.year %></td>
    <td><%= link_to "Show", [@user, image] %></td>
    <td><%= link_to "Edit", [:edit, @user, image] %></td>
    <td><%= link_to image_tag("delete.png", width: 15, height: 15), [@user, image ], :confirm => 'Are you sure?', :method => :delete, class: "scrap_image_X", remote: true %></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add a Photo", [:new, @user, :image] %>



