<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @image.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Url:</b>
  <%= @image.image %>
</p>

<p>
  <b>Content:</b>
  <%= @image.content %>
</p>

<p>
  <b>Date taken:</b>
  <%= @image.date_taken %>
</p>

<p>
  <b>Week:</b>
  <%= @image.week %>
</p>

<p>
  <b>Month:</b>
  <%= @image.month %>
</p>

<p>
  <b>Year:</b>
  <%= @image.year %>
</p>


<%= link_to 'Edit', [:edit, @user, :image] %> |
<%= link_to 'Back', user_images_path %>
