<!DOCTYPE html>
<html>
<head>
  <title>Flag App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/flash' %>
<%= render 'shared/header' %> 
<div class="header_separator"></div>
<div class="master_container">
	<div style="margin:auto;"><%= yield %></div>
	<div id="large"></div>
	<div id="background"></div>
</div>
<div class="time_nav_container"></div>


</body>
</html>
